<h2>
  Welcome to EduX
</h2>
<h3>
  — the student education application of Company X.
</h3>
<h4>Available Portals:</h4>
<ul>
  <li><%= link_to "Teachers", teachers_path %></li>
  <li><%= link_to "Students", students_path %></li>
</ul>