<h2>Student Progress</h2>

<p>
  This page shows the student progress for <%= @student.full_name %>:
  <%= @student.progress %>. You may <%= link_to "Return", students_url %> to the students portal.
</p>

